<!DOCTYPE html>
<html lang="en" ng-app="SolarBearApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Solar Bear</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ asset('assets/css/lib.min.css') }}" type="text/css" rel="stylesheet"/>


</head>

<body>

<div ui-view layout="row"></div>

<!-- Sidenav -->

<script src="{{ asset('assets/js/lib.min.js') }}"></script>
<script src="{{  asset('assets/js/app.min.js') }}"></script>


<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
