{% form_theme form _self %}
<div ng-cloak>
    <md-card>
        {{ form_start(form, {'attr': {'ng-submit': 'vm.saveAppointment(newAppointment)'}}) }}

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ 'appointment' |trans }}</span>
                <span class="md-subhead">{{ 'new' |trans }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            {{ form_widget(form.date) }}
            {{ form_widget(form) }}
        </md-card-content>

        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="vm.saving" >
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>


        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class="md-raised md-primary" aria-label="Save Customer">
                <ng-md-icon icon="save"></ng-md-icon>
                Submit
            </md-button>
        </md-card-actions>

    </md-card>
</div>